@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Libre+Baskerville&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eee;
  height: 100%;
  margin: auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  list-style-type: none;
}

form {
  margin: 0 auto;
}

form p {
  margin-bottom: 2rem;
  text-align: left;
}

form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--sec-color);
  caret-color: orangered;
  font-family: var(--sec-text);
  margin-bottom: 1em;
  outline: none;
  width: 20rem;
  padding: 0.3rem;
  letter-spacing: 2px;
}

form input:last-child {
  margin-bottom: 0.5em;
  width: 1rem;
  padding: 0;
}
form img {
  display: inline-block;
  position: relative;
  bottom: -10px;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.3s 0.3s ease;
  text-indent: -100%;
  opacity: 1;
}

form input:focus {
  outline: transparent;
}

form button {
  color: #fff;
  background-color: #505050;
  border-radius: 5px;
  border-color: transparent;
  width: 21.5rem;
}

/* .active {
  border-bottom: 2px solid #df9c51;
} */
:root {
  --pri-clr: rgb(252, 223, 177);
  --sec-color: rgb(15, 15, 68);
  /* --btn-clr: #c58640; */
  --pri-text: "Libre Baskerville", serif;
  --sec-text: "Cormorant Garamond", serif;
}

/* @media (width <= 660px) {
  form input,
  textarea {
    margin-bottom: 0.5rem;
    width: 18rem;
    padding: 0.3rem;
  } */
/* } */
